body {
    background: no-repeat center center fixed;
    background-image: url('/img/bg/winter-night.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 36px;
    font-family: 'Lobster', 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #192f7b;
    margin: 0;
}

p {
    font-size: 18px;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: justify;
    color: #192f7b;
    margin: 0;
    margin-top: 20px;
}

.snow {
    position: absolute;
    top: -30;
    z-index: 100;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}

.content {
    background: rgb(135, 206, 235);
    background: rgba(135, 206, 235, 0.7);
    padding: 30px;
    border-radius: 5px;
    width: 70%;
    position: absolute;
    margin: 10px;
}

.page {
    display: none;
}

.btn {
    font-size: 36px;
    font-family: 'Lobster', 'Trebuchet MS', sans-serif;
    text-align: center;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    margin: auto;
    width: 500px;
    padding: 5px 0 15px 0;
    margin-top: 30px;
    cursor: pointer;
}

.textField, .ok {
    border-radius: 5px;
    padding: 0 10px;
    font-size: 24px;
    background-color: rgb(25, 47, 123);
    background-color: rgba(25, 47, 123, 0.2);
    border-color: rgb(25, 47, 123);
    border-color: rgba(25, 47, 123, 0.5);
    outline: 0;
    border-width: 1px;
    font-family: 'Trebuchet MS', sans-serif;
}

.ok {
    cursor: pointer;
}

.party {
    clear: both;
}

.party .name, .party .wantToGift {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 24px;
    font-family: 'Lobster', 'Trebuchet MS', sans-serif;
    color: red;
    border-width: 1px;
    border-style: solid;
    position: relative;
}

.party .name {
    color: red;
    border-color: red;
}

.party .wantToGift {
    color: #226;
    border-color: #226;
    cursor: pointer;
}

.party .wantToGift.noGift {
    opacity: 0.3;
}

.remove {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 10px;
    position: absolute;
    right: 2px;
    top: 0;
    cursor: pointer;
}


